<h1>
  <%= @article.title%>
</h1>

<p>
  <%= @article.text %>
</p>

<h6>
  <em><%= link_to 'Show all articles', articles_path %></em> |
  <em><%= link_to 'Edit', edit_article_path(@article) %></em> |
  <em><%= link_to 'Destroy', article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' } %></em>
</h6>
