<h1>
  <%= @article.title%>
</h1>

<p>
  <%= @article.text %>
</p>

<h6>
  <em><%= link_to 'Show all articles', articles_path %></em>
  <% if @article.user == current_user %>
    <em><%= link_to ' | Edit', edit_article_path(@article) %></em>
    <em><%=
          link_to ' | Destroy',
                  article_path(@article),
                  method: :delete,
                  data: {
                    confirm: 'Are you sure?'
                  }
        %>
    </em>
  <% end %>
</h6>

<h3>Add a comment</h3>

<%= form_for [ @article, Comment.new ] do |f| %>
  <p>
    <ul>
      <% @article&.errors&.full_messages&.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit :class => 'btn btn-success' %>
  </p>
<% end %>

<h1>Comments:</h1>

<% @article.comments.each do |comment| %>
  <div>
    <p><i><%= comment.user.username %></i></p>
    <p><%= comment.body %></p>
    <h6><em><%= comment.created_at %></em></h6>
    <hr>
  </div>
<% end %>
